* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: Arial, Helvetica, sans-serif;
}

div {
  display: block;
}

.header {
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  display: flex;
  align-items: center;
  justify-content: space-between;
  z-index: 1000;
  padding-left: 3%;
  padding-right: 3%;
  padding-top: 1%;
  padding-bottom: 1%;

  background: white;
}

.navigation-links {
  display: flex;
  list-style: none;
  gap: 2rem;
}

.navigation-links a {
  text-decoration: none;
  color: black;
  font-weight: 600;
  transition: scale 0.5s ease-in-out;
}

.home {
  position: relative;
  align-items: center;
  display: flex;
  text-align: center;
  justify-content: center;
  min-height: 100vh;
  background: #abe188;
  overflow: hidden;
}

.home h2 {
  font-weight: 500;
}

.container {
  max-width: 1200px;
  margin: 0 auto;
}

.pfp {
  width: 200px;
  height: 200px;
  border: 3px solid;
  border-color: #f7ef99;
  border-radius: 9999px;
}

p {
  line-height: 1.7;
  justify-content: center;
  font-size: 1.125rem;
}

.divider {
  margin: 2rem;
}
.navigation-links a:hover {
  scale: 5;
}

.card {
  position: relative;
  display: inline-block;
  background-color: #ffffff;
  border: 1px solid #e0e0e0;
  border-radius: 8px;
  padding: 20px;
  box-shadow: 0 6px 16px rgba(0, 0, 0, 0.12);
  margin: 2rem;
  width: 20rem;
  justify-content: center;
  overflow-wrap: break-word;
  vertical-align: middle;
}

ul {
  color: gray;
  line-height: 1.8;
  padding-left: 2rem;
}
.cardcontent {
}

.contact {
  text-align: center;
}

.center {
  display: flex;
  justify-content: center;
  align-items: center;
}

.contactimg {
  width: 200px;
  margin: 0 auto;
  text-wrap: wrap;
}
